Electron/
vesktop/
user-dirs.dirs
user-dirs.locale
simple-update-notifier/
electron-builder.json
systemd/
spotify/
Projucer/
GIMP/
kde.org/
session/
dconf/
gtk-3.0/
Kvantum/
pulse/
qt5ct/
qt6ct/
xsettingsd/
dolphinrc
pavucontrol.ini
chromium/
