.config/dconf/
.config/mozilla/
.config/nemo/
.config/nextjs-nodejs/
.config/opencode/*
.config/pulse/
.config/session/
.config/simple-update-notifier/
.config/spotify/
.config/vesktop/
.config/xsettingsd/
.config/create-next-app-nodejs/
.config/obs-studio/
.config/kritadisplayrc
.config/kritarc
.config/mimeapps.list
.config/pavucontrol.ini
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale

!.config/opencode/opencode.json
