dconf/
gtk-3.0/
gtk-4.0/
mozilla/
nemo/
nextjs-nodejs/
opencode/
pulse/
session/
simple-update-notifier/
spotify/
vesktop/
xsettingsd/
create-next-app-nodejs/
obs-studio/

kritadisplayrc
kritarc
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
