:root {
  --tf-font-family: "Fira Sans", Consolas, monospace; /* Font family of config */
  --tf-font-size: 14px; /* Font size of config */
  --tf-rounding: 4px; /* Border radius used through out the config */
  --tf-display-horizontal-tabs: block; /* If horizontal tabs should be shown, none = hidden, block = shown */
  --tf-display-nav-buttons: flex; /* If the navigation buttons (back, forward) should be shown, none = hidden, flex = shown */
}

#TabsToolbar::before {
  margin: -.75rem .75rem !important;
}
