* {
    active-background: #4B6778;
    active-foreground: @foreground;
    normal-background: @background;
    normal-foreground: @foreground;
    urgent-background: #424752;
    urgent-foreground: @foreground;

    alternate-active-background: #50778C;
    alternate-active-foreground: @foreground;
    alternate-normal-background: @background;
    alternate-normal-foreground: @foreground;
    alternate-urgent-background: @background;
    alternate-urgent-foreground: @foreground;

    selected-active-background: #424752;
    selected-active-foreground: @foreground;
    selected-normal-background: #4B6778;
    selected-normal-foreground: @foreground;
    selected-urgent-background: #6A6374;
    selected-urgent-foreground: @foreground;

    background-color: @background;
    background: #04070D;
    foreground: #7B7087;
    border-color: @foreground;
}
