* {
    active-background: #998D9C;
    active-foreground: @foreground;
    normal-background: @background;
    normal-foreground: @foreground;
    urgent-background: #509FA5;
    urgent-foreground: @foreground;

    alternate-active-background: #CCBCD0;
    alternate-active-foreground: @foreground;
    alternate-normal-background: @background;
    alternate-normal-foreground: @foreground;
    alternate-urgent-background: @background;
    alternate-urgent-foreground: @foreground;

    selected-active-background: #509FA5;
    selected-active-foreground: @foreground;
    selected-normal-background: #998D9C;
    selected-normal-foreground: @foreground;
    selected-urgent-background: #458191;
    selected-urgent-foreground: @foreground;

    background-color: @background;
    background: #04070D;
    foreground: #3290A9;
    border-color: @foreground;
}
